// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Partials
@import 'partials/variables';
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Sass
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'nunito','sanserif';
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    background-color: bisque;
    .active{
        color: $bars_color;
        border-bottom: 4px solid $bars_color;
    }
    .card{
        padding: 20px;
    }
}

   




