@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;

0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap);header {
  width: 80%;
  height: 10%;
  background-color: #6cb2eb;
}

header nav {
  width: 100%;
  height: 100%;
}

header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

header nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav ul li a {
  text-decoration: none;
  margin: 20px;
  font-size: 1.4rem;
  color: green;
  text-transform: capitalize;
  text-align: center;
}

header nav ul li a:hover {
  color: #011941;
  text-decoration: none;
  border-bottom: 4px solid #011941;
  transform: scale(1.15);
  transition: ease-in-out 1s;
}

main {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  overflow-y: scroll;
}

main h1 {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
}

main table {
  width: 100%;
  height: 90%;
}

main table tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80px;
}

main table tr th {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

main table tr td {
  text-align: center;
}

main table .id {
  width: 2%;
}

main table .title {
  width: 10%;
}

main table .body {
  width: 40%;
}

main table .created {
  width: 10%;
}

main table .updated {
  width: 10%;
}

main table .tag {
  width: 10%;
}

main table .action {
  width: 18%;
  display: flex;
  justify-content: space-around;
}

main table .action button {
  padding: 8px;
}

main table .action form {
  width: 30%;
}

main table .action a {
  width: 30%;
}

main form label {
  margin: 20px;
  font-size: 2rem;
}

main form #input_title,
main form #input_author {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

main form #input_body {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px;
}

main .view_btn,
main .edit_btn,
main .delete_btn {
  box-shadow: 0 0 2px 2px lightgrey;
  color: white;
  width: 100%;
  border: 0;
  border-radius: 5%;
}

main .view_btn:hover,
main .edit_btn:hover,
main .delete_btn:hover {
  box-shadow: 0 0 10px grey;
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
  background-color: #513e5e;
  cursor: pointer;
}

main .view_btn {
  background-color: green;
}

main .edit_btn {
  background-color: goldenrod;
}

main .delete_btn {
  background-color: red;
}

main #create_btn {
  width: 100%;
  padding: 10px;
  background-color: darkblue;
  box-shadow: 0 0 2px 2px lightgrey;
  color: white;
  border: 0;
  border-radius: 5%;
  margin: 20px 0;
}

main #create_btn:hover {
  box-shadow: 0 0 10px grey;
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
  background-color: #513e5e;
  cursor: pointer;
}

main .form_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

main .form_container .draw_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .form_container aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: wheat;
}

main .form_container aside div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

main .form_container aside div select {
  width: 100%;
  border-radius: 5%;
  padding: 2%;
}

footer {
  width: 80%;
  height: 10%;
  background-color: #6cb2eb;
}

footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

footer ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer ul li a {
  text-decoration: none;
  margin: 20px;
  font-size: 1.4rem;
  color: green;
  text-transform: capitalize;
}

footer ul li a:hover {
  color: #011941;
  text-decoration: none;
  border-bottom: 4px solid #011941;
  transform: scale(1.15);
  transition: ease-in-out 1s;
}

#app,
template {
  width: 100%;
}

#app .card_container,
template .card_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#app .card_container .card,
template .card_container .card {
  margin: 20px;
  width: 20%;
  min-width: 200px;
  border-radius: 5%;
  background-color: lightblue;
}

#app .card_container .card .card_head,
template .card_container .card .card_head {
  background-color: lightblue;
  color: white;
  padding: 10px;
  border-radius: 5%;
}

#app .card_container .card .card_body,
template .card_container .card .card_body {
  background-color: wheat;
  color: black;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: bisque;
}

body .active {
  color: #011941;
  border-bottom: 4px solid #011941;
}

